<div>
    <label for="contenid">Edit the Sportpersone</label>
    <select name="contenid" [(ngModel)]="updatedContent.id">
        <option *ngFor="let sportperson of sportperson" [value]="sportperson.id"
            onclick="setCurrentSportPerson(sportperson.id)">
            {{ sportperson.title }}
        </option>
    </select>
    <label for="contenttitle">Title:</label>
    <input type="text" name="contenttitle" [(ngModel)]="updatedContent.title" [value]="currentContent?.title ?? ''" />

    <label for="contentname">Name:</label>
    <textarea name="contentname" [(ngModel)]="updatedContent.description"></textarea>

    <label for="contentImgURL">Image URL:</label>
    <input type="text" name="contentImgURL" [(ngModel)]="updatedContent.imgURL" />

    <label for="contentType">Type:</label>
    <input type="text" name="contentType" [(ngModel)]="updatedContent.type" />

    

    <label for="contentdescription">description:</label>
    <input type="text" name="contentdescription" [(ngModel)]="updatedContent.director" />

    <button (click)="addContent()">Add Content</button>
</div>